body{
    background-image: url(images/background.jpeg);

}
.title-style {
    color: burlywood;
    padding-top: 40px;
    padding-left: 17px;
    display: flex;
    font-size: 35px;
    font-weight: 200;
}


.section1 {
    display: flex;
    margin-top: 4%;
    margin-left: 2%;

}
.challenge1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 2%;
}
.challenge1Link {
    margin: 2%;
    text-decoration: auto;
    color: honeydew;
    font-weight: 200;

    
}
.fab {
    font-weight: 400;
    font-size: 96px;
    color: gold;

}
i.fas.tests_icon.fa-code {
    font-size: 76px;
}
.oranjeicon {
    color:orangered
}
.yellowicon{
    color:yellow
}




