body{
    background-image: url(images/351345-dark-minimalist-wallpaper.jpeg);

}
.title-style {
    color: burlywood;
    padding-top: 40px;
    padding-left: 17px;
    display: flex;
    font-size: 35px;
}
.challenge1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 2%;
}
.challenge1Link {
    margin: 2%;
    text-decoration: auto;
    color: honeydew;
}
.fab {
    font-weight: 400;
    font-size: 96px;
    color: gold;
    margin-top: 5%;
    margin-left: 14%;
    margin-bottom: 1%;
}


