body{
    background-image: url(images/background.jpeg);

}
.title-style {
    color: burlywood;
    padding-top: 40px;
    padding-left: 17px;
    display: flex;
    font-size: 35px;
}
.section1 {
    display: flex;
    margin-top: 10%;
    margin-left: 3%;
}
.challenge1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 2%;
}
.challenge1Link {
    margin: 2%;
    text-decoration: auto;
    color: honeydew;
}
.fab {
    font-weight: 400;
    font-size: 96px;
    color: gold;

}
i.fas.tests_icon.fa-code {
    color: gold;
    font-size: 76px;
}


